@import '~bootstrap/scss/bootstrap';

$border-color: #000;

.square {
  border: 1px solid $border-color;
  padding-top: 33%;
}

.sign-in {
  max-width: 330px;
}

.successful {
  background: limegreen;
}

.failure {
  background: red;
}

.gameboard {
  width: 30%;
}

.form-label-group{
  margin-bottom: 1rem;
}

.form-change{
  margin-top: 1rem;
}

.sign-in-btn,
.sign-up-btn {
  cursor: pointer;
  text-decoration: underline;
}
