@import '~bootstrap/scss/bootstrap';

$border-color: #000;
$square-bg: #fff1e5;
$square-hover-bg: #fad2d2;
$win-bg: #b8e08f;
$win-hover-bg: #e6fad2;
$success-color: #27b857;
$failure-color: #c70039;
$btn-color: #ffa08b;
$btn-hover-color: #ffbd8b;

body {
  font-family: 'Montserrat', sans-serif;
}

.title {
  margin-top: 1%;
}

.message {
  max-width: 400px;
  width: 70%;
}

.square {
  align-items: center;
  background-color: $square-bg;
  cursor: pointer;
  display: flex;
  font-size: 3rem;
  height: 33.33%;
  justify-content: center;
  line-height: 100%;
  padding: 0;
  white-space: pre;

  &:hover {
    background-color: $square-hover-bg;
  }
}

.inactive-square {
  cursor: default;

  &:hover {
    background-color: $square-bg;
  }
}

.win-square {
  background-color: $win-bg;

  &:hover {
    background-color: $win-hover-bg;
  }
}

.sign-in {
  max-width: 330px;
}

.games-played {
  margin: 0;
  padding-top: 10px;
}

.game-id, .opponent {
  margin: 0;
  padding-top: 10px;
}

.game-message {
  margin: 0;
  padding-bottom: 5px;
}

.sys-message {
  margin: 0;
  padding: 0;
}

.successful {
  color: $success-color;
}

.failure {
  color: $failure-color;
}

.container {
  max-width: 350px;
  width: 80%;
}

.board {
  display: grid;
  height: 50vh;
  max-height: 80vw;
  max-width: 80%;
  padding: 0;
  width: 50vh;
}

.form-label-group {
  margin-bottom: 1rem;
}

.form-control {
  &:focus,
  &.focus {
    border: $btn-color;
    box-shadow: 0 0 0 .2rem $btn-hover-color;
    outline: 0;

  }
}

.form-change {
  margin-top: 1rem;
}

.sign-in-btn,
.sign-up-btn {
  cursor: pointer;
  text-decoration: underline;
}

.btn {
  margin-top: 10px;
}

.btn-primary {
  background-color: $btn-color;
  border: 0;

  &:focus,
  &.focus {
    background-color: $btn-hover-color;
    box-shadow: 0 0 0 .2rem $btn-color;
  }

  &:hover,
  &.hover {
    background-color: $btn-hover-color;
    box-shadow: 0 0 0 .2rem $btn-color;
  }
}

.custom-select {
  margin-top: 10px;
}

.input-group {
  margin: 0 auto;
  max-width: 200px;
}
